.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.table {
  width: 60%;
  border-collapse: collapse;
  border-radius: 10px!important;
  box-shadow: 10px 10px 18px #ccc;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #414686;
  color: white;
  font-weight: 700;
  span {
    display: flex;
    flex-direction: column;
    .desc {
      font-size: 10px;
    }
    .asc {
      font-size: 10px;
      transform: rotate(180deg);
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
  }
  input {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    outline: none;
  }
}
td,
th {
  padding: 6px;
  border: 1px solid rgb(241, 241, 241);
  text-align: left;
}
